@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --clr-lime: hsl(61, 70%, 52%);
    --clr-lime-body: hsl(60, 72%, 93%);
    --clr-lime-center: hsl(60, 67%, 55%);
    --clr-red: hsl(4, 69%, 50%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-Slate-100: hsl(202, 86%, 94%);
    --clr-Slate-300: hsl(203, 41%, 72%);
    --clr-Slate-500: hsl(200, 26%, 54%);
    --clr-Slate-700: hsl(200, 24%, 40%);
    --clr-Slate-900: hsl(202, 55%, 16%);
    --clr-footer-container: hsl(204, 57%, 13%);
    --fs-paragraph: 16px;
    --ff-Plus-Jakarata-Sans: 'Plus Jakarta Sans', sans-serif;
    --fw-500: 500;
    --fw-700: 700;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--ff-Plus-Jakarata-Sans);
    width: 100%;
    background-color: var(--clr-Slate-100);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--clr-white);
}

.calculator-container {
    width: 90%;
    display: flex;
    flex-direction: column;
}

h1 {
    margin-bottom: -.5em;
}

h1, h3, h4 {
    font-size: 22px;
    font-weight: var(--fw-700);
    padding-top: 1em;
}

#clear {
    background: none;
    border: none;
    text-decoration: underline;
    text-align: left;
    cursor: pointer;
    width: 18%;
}

.errorText {
    display: none;
    color: var(--clr-red);
    margin-top: .5em;
}

.errorText.display {
    display: block;
}
.inputClassJS.error {
    border: 1px solid var(--clr-red);
    background: linear-gradient(to left, white 89%, var(--clr-red) 9%) right;
}
.dynamic-error {
    background: linear-gradient(to left, var(--clr-red) 25%, white 15%) right;
}
.years-container .inputClassJS.error {
    background: linear-gradient(to left, var(--clr-red) 25%, white 15%) right;
}
.percent-container .inputClassJS.error {
    background: linear-gradient(to left, var(--clr-red) 18%, white 15%) right;
}
.errorColorChanger {
    color: var(--clr-Slate-700); 
}
.errorColorChanger.changer {
    color: var(--clr-white); 
}

label, #clear, h2 {
    color: var(--clr-Slate-700);
    font-size: 14px;
    font-weight: var(--fw-500);
    margin-bottom: .5em;
    margin-top: 1em;
}

input[type='number'], input[type='text'] {
    border: 1px solid var(--clr-Slate-500);
    border-radius: 4px;
    min-height: 3em;
    width: 100%;
    padding-left: 5%;
    font-family: var(--ff-Plus-Jakarata-Sans);
    font-weight: var(--fw-700);
    color: var(--clr-Slate-900);
}

i {
    font-weight: var(--fw-700);
    position: absolute;
}

.currency-container input,
.years-container input,
.percent-container input {
    background: linear-gradient(to left, white 89%, var(--clr-Slate-100) 9%) right;
}

.currency-container input{
    padding-left: 15%;
}
#currency {
    margin-left: 4%;
    margin-top: .5em;
}

.years-container input {
    background: linear-gradient(to left, var(--clr-Slate-100) 25%, white 15%) right;
}

#years {
    margin: .5em;
    left: 75%;
}

.percent-container input {
    background: linear-gradient(to left, var(--clr-Slate-100) 18%, white 15%) right;
}

#percent {
    margin: .5em;
    left: 82%;
}

.radio-container {
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding-bottom: 1em;
}

.repayment-container, .interest-container {
    border: 1px solid var(--clr-Slate-500);
    border-radius: 4px;
    padding: 0.3em;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    height: 3em;
}

.repayment-container.selected, .interest-container.selected {
    background-color: var(--clr-lime-body);
    border-color: var(--clr-lime);
}

.repayment-container label, .interest-container label {
    color: var(--clr-Slate-900);
    font-weight: var(--fw-700);
    font-size: var(--fs-paragraph);
    cursor: pointer;
    position: relative;
    padding-left: 3em;
}

input[type='radio']:checked + label::before {
    border-color: var(--clr-lime);
    background-color: var(--clr-lime-body);
}

.repayment-container label::before, .interest-container label::before {
    content: '';
    position: absolute;
    left: 0.5em;
    top: 50%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 2px solid var(--clr-Slate-500);
    background-color: transparent;
    transform: translateY(-50%);
}

input[type='radio'] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

input[type='radio']:checked + label::after {
    content: '';
    position: absolute;
    left: 1.15em;
    top: 50%;
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    background-color: var(--clr-lime);
    transform: translate(-50%, -50%);
    z-index: 1;
}

.submit {
    font-size: var(--fs-paragraph);
    font-weight: var(--fw-700);
    color: var(--clr-Slate-900);
    width: 100%;
    height: 3em;
    background-color: var(--clr-lime);
    border: none;
    border-radius: 25px;
    background-image: url('../assets/images/icon-calculator.svg');
    background-repeat: no-repeat;
    background-position: 15%;
    margin-bottom: 1.5em;
    cursor: pointer;
    margin-top: 1em;
}

.footer-container {
    width: 100%;
    height: 24em;
    background-color: var(--clr-Slate-900);
    position: relative;
    overflow: hidden;
}

.default-footer, .complete-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: opacity 0.5s ease, transform 0.5s ease;
    position: absolute;
}

.default-footer {
    color: var(--clr-Slate-500);
    background-size: cover;
    z-index: 1;
    align-items: center;
    padding: 0 5% 0 5%;
}

.default-footer.hide {
    opacity: 0;
    transform: translateY(-100%);
}

.default-footer img {
    height: 192px;
    margin-top: 1.5em;
}

h3 {
    color: var(--clr-white);
    margin-bottom: 1em;
}

.default-footer-text {
    font-weight: var(--fw-500);
    color: var(--clr-Slate-500);
    margin-bottom: 1.5em;
    text-align: center;
}

.complete-footer {
    padding: 2em 2em 7em 1.5em;
    opacity: 0;
    transform: translateY(100%);
    z-index: 2;
}

.complete-footer.show {
    opacity: 1;
    transform: translateY(0);
}

h4 {
    margin: -1em 0 1em 0;
    color: var(--clr-white);
    font-size: 22px;
    font-weight: var(--fw-500);
}

.complete-footer-text {
    font-size: 14px;
    font-weight: var(--fw-500);
    color: var(--clr-Slate-500);
    margin-bottom: 1.5em;
}

.complete-repayement-container {
    background-color: var(--clr-footer-container);
}

.complete-repayement-container > p {
    padding: .5em 0 .5em 1em;
}

.complete-repayement-container > :first-child {
    padding-top: 1.5em;
    margin-bottom: -1em;
    border-top: 3px solid var(--clr-lime);
    border-radius: 12px 12px 0 0;
}

.monthly-payments, .term-payments {
    font-size: 14px;
    font-weight: var(--fw-500);
    color: var(--clr-Slate-500);
}

.js-repayement {
    font-size: 34px;
    margin-left: -.5em;
    font-weight: var(--fw-700);
    color: var(--clr-lime);
}

.js-repayement::before {
    content: "£";
}

hr {
    margin: 0 1em 0 1em;
    border-color: var(--clr-Slate-900);
    margin-bottom: .5em;
}

.js-repayement-total {
    font-size: 24px;
    margin: -.5em 0 0 -.2em;
    font-weight: var(--fw-700);
    color: var(--clr-white);
}

.js-repayement-total::before {
    content: "£";
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--clr-Slate-100);
    writing-mode: vertical-rl;
    margin-left: auto;
    margin-top: 5em;
}

.attribution a {
    color: var(--clr-Slate-300);
    text-decoration: none;
}

.years-container,
.percent-container {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.years-container label,
.percent-container label {
    margin-bottom: 0;
    width: 100%;
}

.years-container input,
.percent-container input {
    width: 100%;
}

.input-group {
    display: flex;
    flex-direction: column;
}

/* tablet */

@media (min-width: 700px) {    
    main {
        width: 90%;
        margin: 2em 0 2em 0;
        border-radius: 12px;
    }

    .header-container{
        display: inline-flex;
        justify-content: space-between;
        margin-bottom: 1.5em;
    }

    #clear {
        width: 10%;
        margin: 2em 0 0 0;
    }

    .termAndRateContainer {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    .input-group {
        width: calc(50% - 10px);
    }

    .years-container,
    .percent-container {
        flex-direction: column;
    }

    .years-container input,
    .percent-container input {
        width: 100%;
    }

    #years {
        left: 39%;
    }
    
    #percent {
        left: 84.5%;
    }
    .submit{
        width: 60%;
    }

    .footer-container{
        border-radius: 0 0 12px 12px;
    }

    .default-footer{
        padding: 0 3% 0 3%;
    }
}

/* desktop 1600*/
@media (min-width: 1600px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh; 
        margin: 0; 
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-width: 1000px;
        max-width: 1200px;
        max-height: 600px;
        overflow: hidden; 
    }

    .calculator-container {
        min-width: 80%;
        max-width: 90%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    #currency{
        left: 12%;
    }

    #years {
        left: 26.6%;
    }
    
    #percent {
        left: 45.5%;
    }

    .footer-container {
        display: flex;
        justify-content: center;
        height: 100%;
        border-radius: 0 0 0 70px;
    }

    .default-footer{
        margin-top: 8em;
        padding: 0 5em 0 5em;
    }

    .complete-repayement-container{
        margin-top: 1.5em;
        height: 15em;        
    }

    .js-repayement{
        font-size: 44px;
    }

    .js-repayement-total{
        font-size: 34px;
    }

    .complete-footer-text{
        padding: 0 13em 0 0;
    }

    #clear {
        width: 17%;
        margin: 2em 0 0 0;
    }

    .submit{
        width: 70%;
    }
}

/* desktop 1920*/

@media (min-width: 1920px) {

    #currency{
        left: 17.65%;
    }

    #years {
        left: 30.5%;
    }
    
    #percent {
        left: 46.4%;
    }
}